<% @books.each do |book| %>
	<p id="bookName<%= book.id %>">Name: <%= book.name %></p>
	<p id="bookDescription<%= book.id %>">Description: <%= book.description %></p>
	<p id="bookPrice<%= book.id %>"></p>
<% end %>
<button id="getPricesButton">Get Prices</button> 
